.bg-main {
  width: 100%;
}
.jobs-route-bg {
  background-color: #000000;
  min-height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.loader-container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  width: 90%;
  max-width: 400px;
  max-height: 250px;
  padding: 30px 10px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 18px;
}
.profile-border {
  width: 95%;
  padding-bottom: 2vh;
  border-bottom: 1px solid #f8fafc;
}
.profile-avatar {
  height: 30px;
}
.profile-name {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 28px;
  color: #6366f1;
}
.profile-bio {
  font-size: 16px;
  color: #2c364c;
  font-weight: 500;
}
.search-container {
  padding: 0px;
  width: 100%;
  max-width: 500px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.search {
  min-width: 80%;
  font-size: 12px;
  padding: 10px;
  background-color: #000000;
  border: solid 1px #f8fafc;
  color: #f8fafc;
}
.icon {
  height: 34px;
  border: solid 1px #f8fafc;
  width: 10%;
  background-color: #2c364c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.retry-btn-container {
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retry-btn {
  width: 50%;
  padding: 10px 25px;
  background-color: #6366f1;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;
}
.jobs-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .jobs-route-bg {
    flex-direction: column;
  }
  .jobs-container {
    width: 100%;
  }
}
@media all and (min-width: 767px) {
  .hide-on-desktop {
    display: none;
  }
}
